{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Blueland Medical Trading </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.html">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/logo.png' %}" >
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <style>
            .sub-page-product-features-title {
                color : #4e97fd;
                font-size:20px;
               
            }
            #product-detail ul {
                list-style: none; /* Remove default bullets */
                }

            #product-detail    ul li::before {
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: #e4573d; /* Change the color */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
                }
            
                .pro-02-list-text span{
                    color : #4e97fd;
                    font-size:15px;
                    font-weight: bold;
               
                }
            .white {
                color:white;
            }
            
        </style>
        {% block style %} 
        {% endblock %}
        

    </head>
    <body>

        <!-- header-start -->
        <header>
            <div class="header-top theme-bg ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 col-md-12">
                            <div class="header-top-wrapper">
                                <div class="header-info">
                                    <span><i class="far fa-phone"></i> Call Us +251-911-3806-47</span>
                                    <span class="envelopes-header-icon"><i class="far fa-envelope-open"></i> nebiyathero17@gmail.com</span>
                                    <span class="mails-header-icon"><i class="far fa-map-marked"></i> Wesen, Breks Building, 3rd Floor. Addis Ababa, Ethiopia</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-12">
                            <div class="header-icon f-right">
                                <a href="https://www.facebook.com/nebiyat.tariku" target="blank">
                                    <i class="fab fa-facebook-f white" title="https://www.facebook.com/nebiyat.tariku"></i></a>
                                <a href="https://www.linkedin.com/in/nebiyat-tariku-35712664/?originalSubdomain=et" target="blank">
                                    <i class="fab fa-linkedin white" title="https://www.linkedin.com/in/nebiyat-tariku-35712664/?originalSubdomain=et"></i></a>
                                <a href="#"><i class="fab fa-telegram white" title="+251-911-3806-47"></i></a>
                                <a href="#"><i title="+251-911-3806-47" class="fab fa-whatsapp white"></i></a>
                                <a href= "mailto:nebiyathero17@gmail.com" target="blank" ><i class="fab fa-google white" title="nebiyathero17@gmail.com"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="sticky-header" class="main-menu-area menu-03 pl-55 pr-55">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="/"><img src="{% static 'img/logo/blue_logo_with_txt.png' %}" height="80px" alt=""  /></a>
                            </div>
                        </div>
                        
                        <div class="col-xl-9 col-lg-9">
                            <div class="header-right f-right col-12" style="float: right;">
                                
                                <div class="menu-bar info-bar f-right d-none d-md-none d-lg-block">
                                    <a href="#"><i class="fal fa-bars"></i></a>
                                </div>
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul class="f-right mr-100">
                                            <li class=" {% block home %}{% endblock %}"><a href="/">Home</a></li>
                                            <li class=" {% block about %}{% endblock %}"><a href="{% url 'about' %}">About Us</a></li>

                                            <li class=" {% block product %}{% endblock %}"><a href="#">Products</a>
                                                
                                                <ul class="sub-menu text-left">
                                                    <p class="p-0 m-0 pl-5">Categories</p>
                                                    {% for c in cats %} 
                                                        <li><a href="{% url 'main:cat_prods' pk=c.id %}" >{{c.name}}</a></li>
                                                    {% endfor %}
                                                    
                                                </ul>
                                            </li>

                                            <li class=" {% block contact %}{% endblock %}"><a href="{% url 'contact' %}">Contact Us</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra-info">
                <div class="close-icon">
                    <button>
                        <i class="far fa-window-close"></i>
                    </button>
                </div>
                <div class="logo-side mb-30">
                    <a href="/">
                        <h1 style="color: white;">Blueland Medical Trading</h1>
                      
                    </a>
                </div>
                <div class="side-info mb-30">
                    <div class="contact-list mb-30">
                        <h4>Office Address</h4>
                        <p>Wesen, Breks Building, 3rd Floor. Addis Ababa, Ethiopia</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Phone Number</h4>
                        <p style="color: white;"><i class="far fa-phone white mr-1"></i> +251-911-3806-47</p>
                        <p  style="color: white;"><i class="far fa-phone-office white mr-1"></i> 0116-6813-57</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Email Address</h4>
                        <p>nebiyathero17@gmail.com</p>
                    </div>
                </div>
               
                <div class="social-icon-right mt-20">
                    <a href="https://www.facebook.com/nebiyat.tariku" target="blank">
                        <i class="fab fa-facebook-f white" title="https://www.facebook.com/nebiyat.tariku"></i></a>
                    
                        <a href="https://www.linkedin.com/in/nebiyat-tariku-35712664/?originalSubdomain=et" target="blank">
                        <i class="fab fa-linkedin white" title="https://www.linkedin.com/in/nebiyat-tariku-35712664/?originalSubdomain=et"></i></a>
                                
                    <a href="#" target="blank"> 
                        <i class="fab fa-telegram" title="+251-911-3806-47"></i>
                    </a>
                    <a href="#" target="blank">
                        <i class="fab fa-whatsapp" title="+251-911-3806-47"></i>
                    </a>
                    <a href="mailto:nebiyathero17@gmail.com" target="blank">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </header>
        <!-- header-start -->

       

        {% if not index %}
                  <!-- breadcrumb-area-start -->
                <div class="breadcrumb-area " style="background-image:url({% static 'img/bg/header.webp' %})">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="breadcrumb-wrapper">
                                    <div class="breadcrumb-text">
                                        <h2 style="color:#fff;">{% block title %} {% endblock %}</h2>
                                    </div>
                                    <ul class="breadcrumb-menu">
                                        <li><a href="{% url 'index' %}">Home</a></li>

                                        {% block link %} {% endblock %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- breadcrumb-area-end -->
        {% endif %}


       {% block content %} 
       
       {% endblock %}
        <!-- footer-area-start -->
        
        <footer style="background-color: #4e97fd; ">
          <div class="footer-area pt-80 pb-45" >
              <div class="container" >
                  <div class="row" >
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="footer-wrapper mb-30">
                                <h3 class="footer-title " style="color:white" >About Company</h3>
                                <div class="footer-text">
                                    <p style="color:white">
                                        Import and Distribute Pharmaceutical, medical Supplies, devices & Equipment. 
                                    </p>
                                
                                </div >
                                
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6" >
                            <div class="footer-wrapper ml-80 mb-30">
                                <h3 class="footer-title" style="color:white" >Useful Links</h3>
                                <div class="footer-link " >
                                    <ul >
                                        <li><a href="" >Home</a></li>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="https://variteks.com/" class="white" >Variteks</a></li>
                                        <li><a href="https://www.aurolab.com/" >Aurolab</a></li>
                                        <li><a href="www.mhkmedikal.com.tr">MHK Medikal Tekstil</a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                       
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="footer-wrapper  mb-30">
                                <h3 class="footer-title" style="color:white">Contact Us</h3>
                                <div class="footer-text">
                                    <p style="color:white">Wesen, Breks Building, 3rd Floor. Addis Ababa, Ethiopia.</p>
                                </div>
                                <div class="footer-icon" >
                                    <a href="https://www.facebook.com/nebiyat.tariku" target="blank">
                                        <i class="fab fa-facebook-f white" title="https://www.facebook.com/nebiyat.tariku"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/nebiyat-tariku-35712664/?originalSubdomain=et" target="blank">
                                        <i class="fab fa-linkedin white" title="https://www.linkedin.com/in/nebiyat-tariku-35712664/?originalSubdomain=et"></i>
                                    </a>
                      
                                    <a href="#"><i class="fab fa-telegram white" title="+251-911-3806-47" ></i></a>
                                    <a href="#"><i class="fab fa-whatsapp white" title="+251-911-3806-47" ></i></a>
                                    <a href="mailto:nebiyathero17@gmail.com" target="blank"><i class="fab fa-google white" title="+251-911-3806-47" ></i></a>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
        <div class="footer-bottom-area pt-25 pb-25">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="copyright">
                            <p>Copyright <i class="far fa-copyright"></i> 2022 <a href="#" ><b style=" color:#043c89">Blueland Trading</b></a>. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 f-right">
                        <div class="copyright f-right">
                            <p>Developed by<img src="https://chsirb.aau.edu.et/static/customer/img/debol_logo.png" width="40"> 
                                <a href="#" style=" font-weight: bold; color: rgb(0, 0, 0);">Debol Engineering</a>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        </footer>
        <!-- footer-area-end -->



		<!-- JS here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
        <script src="{% static 'js/ajax-form.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.appear.js' %}"></script>
        <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'js/jquery.knob.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        {% block js %} 
        
        {% endblock %}
    </body>

</html>